@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color:black;
	overflow-x: hidden;
}

.current_link {
	color:#DC2F02;
}

#main_div {
	position: relative;
	background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100vw;
	height:90vw;
	top: 0;
	left: 0;
	box-shadow: inset 0px 0px 256px black;
}

#menu {
	width:100%;
	border: 0px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr;
	box-shadow: inset 0px 90px 80px black;
	border: none;
	z-index: 10;
}


#menu > img {
	padding: 3vh 0px;
	text-align: center;
}

#menu > ul {
	padding: 5vh;
	list-style: none;
}

#menu > ul > li {
	display: inline-block;
	margin: 2vh;
	margin-right:5vh;
	transition: 0.25s;
	cursor: pointer;
}

#menu > ul > li:hover {
	color: #FF6339;
	transition: 0.25s;
}

#icon_list {
	font-size: 20pt;
}

#navigator > li{
	font-size: 25pt;
}

#play-game button {
	margin:5vh;
	margin-right:1vh;
	margin-left:1vh;
}

.default-orange-style{
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	padding: 8px 24px;
	color:white;
	border-radius: 2px;
	border:none;
	font-family: 'Bebas Neue', cursive;
	font-size:20pt;
	cursor: pointer;
}



.section-title {
	color:white;
	font-family: 'Bebas Neue', cursive;
	font-size:30px;
}

.game-wallpaper {
	position: absolute;
	background-position: center;
	max-height: 100%;
	transform: translateX(-25%);
}

.game-info {
	position: absolute;
	font-family: 'Roboto', cursive;
	bottom: 0;
	background-color:#2C2B2B;
	width:100%;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1.5vh;
	padding:1vh;
}

.game-name {
	white-space: nowrap;
	font-size: 24px;
	min-width: 0;
	color:white;
}


.supported-platforms li{
	display: inline-block;
	font-size: 15px;
	margin:3px;
	border: none;
}

.game-info > p {
	position: relative;
	width:100%;
	display: flex;
	flex-direction: row;
	text-align: center;

}

.game-discount {
	flex-grow: 0;
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	border-radius: 2px 0px 0px 2px;
	color:white;
	padding:0.25vh;
	padding: 6px 8px;
}

.game-price {
	flex:1;
	background: #111111;
	border-radius: 0px;
	padding: 6px 8px;
	color:white;
}

.game-add-button {
	flex-grow: 0;
	background: #FFFFFF;
	border-radius: 0px 2px 2px 0px;
	color:black;
	padding: 6px 8px;
	font-size: 15px;
}

.jogos-header {
	display: grid;
	grid-template-columns: 1fr 0.10fr;
}

#carrinho-content {
	margin:5vh;
}



.gray-box-style {
	background-color: #111111;
	margin-bottom: 1vh;
	font-family: 'Roboto', sans-serif;
}

.game-card {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	font-family: 'Bebas Neue', sans-serif;
	vertical-align: middle;
	padding:3vh;
	margin-top: 3vh;
}

.game-card > img {
	margin-right: 3%;
}

.game-name-card {
	flex:1;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25pt;
	color: #FFFFFF;
}

.game-name-card > i {
	margin-left: 2vh;
	color:#DC2F02;
	cursor: pointer;
}


.game-card-price {
	color: #FFFFFF;
	font-size: 16pt;
	font-family: 'Roboto', sans-serif;

}

.game-discount-price {
	text-decoration: line-through;
}

.game-price-card {
	font-size: 24pt;

}

.game-propose-card {
	background-color: #2C2B2B;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.proposes-card {
	position: relative;
	color: #FFFFFF;
	font-size: 28pt;
}

.game-price-gray-box {
	background-color: #2C2B2B;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	margin:0;
	padding: 8px 24px;
}

.proposes-card > p{
	flex:1;
}

.add-cart-btn{
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	padding: 8px 24px;
	color:white;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	font-family: 'Bebas Neue', cursive;
	font-size:20pt;
	cursor: pointer;
	margin: 0;
	box-sizing: border-box;
}

.last-gray-box {
	position: relative;
	padding:3vh;
	margin-top:3vh;
}

.descontos {
	color:#FF6339;
	font-size: 20pt;
	display: flex;
	flex-direction: row;
	margin-bottom: 4vh;
}

.valor-economizado {
	flex:1;
}

.total-estimado {
	color: #FFFFFF;
	font-size: 20pt;
	display: flex;
	flex-direction: row;
}

.total-compra {
	flex:1;
}

.more-info {
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	background:none;
	color:white;
	font-family: 'Bebas Neue', cursive;
	font-size: 20pt;
	cursor: pointer;
	padding:1vh;
}

.buy-btn {
	font-size: 20pt;
	flex:0.25;
	flex-direction: row;
	margin-right: 1vh;
	margin-top:5vh;
	
}


.buy-buttons {
	display: flex;
}


button[class~="default-orange-style"] {
	transition: 0.5s;
}

button[class~="default-orange-style"]:hover {
	transform: scale(1.05);
	transition: 0.5s;
}

footer {
	position: relative;
	background-color:#111111;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
	padding:2vw;
	box-sizing: border-box;
	color:white;
	font-family:'Roboto', sans-serif;
	width: 100%;
}

footer a {
	text-decoration: none;
	color:white;
}

footer ul li {
	margin:2vh;
	margin-left: 0;
}

.flex-display {
	list-style: none;
	margin:2vh;
	margin-left:0;
	font-size: 20px;
}

.flex-display {
	display: flex;
	flex-direction: row;

}

.break-list li{
	display: block;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111111;
	text-align: center;
	z-index: 99;
	display: none;
}

.mobile_menu img {
	margin-left: auto;
	margin-right: auto;	
}

#menu_activate {
	position: fixed;
	left:0;
	top:0;
	color:#FFFFFF;
	margin:5vh;
	margin-left: 3vh;
	font-size: 30pt;
	z-index: 10;
	display: none;
}


.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111111;
	text-align: center;
	z-index: 99;
	display: none;
}

.mobile_menu img {
	margin-left: auto;
	margin-right: auto;	
}

#menu_activate {
	position: fixed;
	left:0;
	top:0;
	color:#FFFFFF;
	margin:5vh;
	margin-left: 3vh;
	font-size: 30pt;
	z-index: 10;
	display: none;
}

@media (max-width: 1200px) {
  

	#menu {
		position: fixed;
		width:100%;
		height: 100%;
		background-color: #111111;
		text-align: center;
		display: none;
		overflow: hidden;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 1fr;
		z-index: 9;
	}

	#main_div {
		margin-bottom: 10vh;
	}

	.mobile-menu {
		display: block;
	}

	#menu_activate {
		display: block;
		z-index: 100;
	}

	#menu > img {
		padding:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		opacity: 0;
	}


	#navigator {
		display: grid;
	}

	#navigator > li {
		display: block;
		margin-bottom: 5vh;
	}


	#icon_list > li {
		display: inline-block;
		margin:1vh;
	}

	#jogos-secao {
		text-align: center;
	}

	.game-list > li {
		width: 90%;

	}

	.game-wallpaper {
		transform:translateX(-50%);
	}

	.jogos-header {
		display: flex;
		flex-direction: row;
	}


	.see-more {
		flex:1;
		margin-left:8vh;
		font-size: 16pt;
		padding:1vh;
	}

	.section-title {
		flex:1;
		font-size: 18pt;
		margin:0;
	}


	footer {
		position: inherit;
		background-color:#111111;
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		padding:2vw;
		box-sizing: border-box;
		color:white;
		font-family:'Roboto', sans-serif;
		width: auto;
		margin-bottom: 0;
		margin-top:35vh;
	}

	footer a {
		text-decoration: none;
		color:white;
	}

	footer ul li {
		margin-bottom:2vh;
		margin-left: 0;
	}

	.flex-display {
		list-style: none;
		display: inline-block;
		margin:2vh;
		font-size: 20px;
	}

	.flex-display li {
		display: inline-block;
	}



	#carrinho-content {
		position: relative;
		margin:10vh;
		margin-left: 1vh;
		margin-right: 1vh;
	}

	#carrinho-content > div {
		display:grid;
		grid-template-columns: 1fr;
	}

	.game-card {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		font-family: 'Bebas Neue', sans-serif;
		vertical-align: middle;
		padding:3vh;
		margin-top: 3vh;
		width: 100%;
	}

	.game-card > img {
		margin-right: 3%;
		max-width: 30vw;
	}

	.game-name-card {
		flex:1;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 16pt;
		color: #FFFFFF;
	}

	.game-name-card > i {
		margin-left: 2vh;
		color:#DC2F02;
		cursor: pointer;
	}


	.game-card-price {
		color: #FFFFFF;
		font-size: 10pt;
		font-family: 'Roboto', sans-serif;

	}

	.game-price-card {
		font-size: 16pt;
		margin-right: 5vh;
	}


	.proposes-card {
		font-size: 16pt;
		display: grid;
		grid-gap: 3vw;
		grid-template-columns: 1fr;
		padding: 0;
		padding: 3vh;
		padding-left: 1vh;
		padding-right: 1vh;
		text-align: center;
	}

	.valor-economizado {
		font-size: 16pt;
	}

	.descontos {
		font-size: 16pt;
	}

	.game-propose-card {
		font-size: 16pt;
		display: grid;
		width: 95%;
		margin:1vh;
	}

	.game-price-gray-box{
		font-size: 16pt;

	}

	.add-cart-btn {
		font-size: 16pt;
	}

	.total-compra {
		font-size: 16pt;
	}

	.total-estimado {
		font-size: 16pt;
	}

	.buy-buttons {
		display: flex;
		width: 100%;
	}

	.buy-btn {
		flex: 1;
		font-size: 16pt;
	}

}