@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color:black;
	overflow-x: hidden;
}

.current_link {
	color:#DC2F02;
}

#main_div {
	position: relative;
	background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100vw;
	min-height:25vh;
	top: 0;
	left: 0;
	box-shadow: inset 0px 0px 256px black;
}

#menu {
	position: fixed;
	width:100%;
	border: 0px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr;
	box-shadow: inset 0px 90px 80px black;
	border: none;
	z-index: 10;
}

#menu > img {
	padding: 3vh 0px;
	text-align: center;
}

#menu > ul {
	padding: 5vh;
	list-style: none;
}

#menu > ul > li {
	display: inline-block;
	margin: 2vh;
	margin-right:5vh;
	transition: 0.25s;
	cursor: pointer;
}

#menu > ul > li:hover {
	color: #FF6339;
	transition: 0.25s;
}

#icon_list {
	font-size: 20pt;
}

#navigator > li{
	font-size: 25pt;
}

footer {
	position: relative;
	background-color:#111111;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
	padding:2vw;
	box-sizing: border-box;
	color:white;
	font-family:'Roboto', sans-serif;
	width: 100%;
}

footer a {
	text-decoration: none;
	color:white;
}

footer ul li {
	margin:2vh;
	margin-left: 0;
}

.flex-display {
	list-style: none;
	margin:2vh;
	margin-left:0;
	font-size: 20px;
}

.flex-display {
	display: flex;
	flex-direction: row;

}

.break-list li{
	display: block;
}


#game-information {
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns: 1.5fr 1fr;	
	grid-gap: 3vh;
/*	background-color: red;*/
	padding:5vh;
}

.game-information-images {

}

.game-information-images > img {
	width:100%;
}

.game-information-info {
/*	background-color: blue;*/
	padding-left:2vh;
}

.game-information-info > img {
	width: 80%;
	margin-bottom: 2vh;
}

.game-genres {
	list-style: none;
	text-align: left;
	margin-bottom: 2vh;
}

.game-genres li {
	display: inline-block;
	margin-right: 1vh;
}

.game-text-info {

}

.game-title {
	color:#FFFFFF;
	font-size: 28pt;
	font-family: 'Bebas Neue', sans-serif;
	margin-bottom: 2vh;
}

.game-desc {
	font-size: 16pt;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2vh;
	color:#DEDDDC;
}

.default-orange-style{
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	padding: 8px 24px;
	color:white;
	border-radius: 2px;
	border:none;
	font-family: 'Bebas Neue', cursive;
	font-size:20px;
	cursor: pointer;
}


.default-gray-style{
	background: #2C2B2B;
	padding: 8px 24px;
	color:#DEDDDC;
	border-radius: 2px;
	border:none;
	font-family: 'Bebas Neue', cursive;
	font-size:16pt;
	cursor: pointer;
}

.game-release-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: 'Bebas Neue', cursive;
	color:#DEDDDC;
	margin-top:2vh;
	font-size: 16pt;
}

.game-release-info > div > p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1vh;
}

.platforms {
	list-style: none;
	display: block;
	max-width: 10vw;
	text-align: center;
}

.date {
	list-style: none;
	display: block;
	max-width: 6vw;
	text-align: center;
}

.platforms > li {
	display: inline-block;
	color:#DEDDDC;
	margin-right:0.5vh;
}

.game-confirmation-rect {
	position: relative;
	background-color:#111111;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-height: 4vw;
	overflow: hidden;
	padding:1vw;
	font-family: 'Bebas Neue', cursive;
	color:#FFFFFF;
	margin-top:3vh;
}

.game-confirmation-name {
	font-size: 26pt;
	color:white;
	margin:0.25vh;
}

.game-confirmation-price {
	font-size: 24px;
	margin:1vw;
	font-family: 'Roboto', sans-serif;
}

.game-confirmation > img {
	overflow: hidden;
}

.game-confirmation-rect > p, .game-confirmation-rect > a > p {
	position: relative;
	width:100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 20pt;

}

.game-discount {
	flex-grow: 0;
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	border-radius: 2px 0px 0px 2px;
	color:white;
	padding:1vh;
}

.game-price-gray {
	flex:1;
	background: #2C2B2B;
	border-radius: 0px;
	color:white;
	padding-top:1vh;
}

.game-add-button {
	flex-grow: 0;
	background: #FFFFFF;
	border-radius: 0px 2px 2px 0px;
	color:black;
	font-size: 25pt;
}


#game-btn {
	font-size: 20pt;
}


.news-info-container {
	position: relative;
	display: grid;
	grid-gap: 5vh;
	grid-template-columns: 1fr 1fr;
}

.news {
	position: relative;
	max-width: 40vw;
	max-height: 40vw;
	box-sizing: border-box;
}

.news > img {
	width: 100%;
	height: 100%;
}


.news-info {
	overflow: hidden;
	margin-top:5vh;
}

.news-subtitle {
	position: absolute;
	box-sizing: border-box;
	bottom:0;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	color:#FFFFFF;
	backdrop-filter:blur(10px);
	background-color: rgba(0,0,0,0.3);
	padding: 2vh;

}

.news-desc {
	margin:1vh;
}

.news-subtitle-date {
	font-size: 12px;
	margin-left: 1vh;
}

.gray-style-box {
	background-color: #111111;
}

#game-metrics-div {
	margin-top: 10vh;
}

.game-metrics {
	text-align: center;
	padding:2vh;
}

.game-metrics > img {
	margin-right: 5vh;
}

.game-list > li {
	position: relative;
	display:inline-block;
	width: 232px;
	height: 346px;
	margin:1vh;
	background-color:white;
	overflow: hidden;
	transition: 0.5s;
	color:#111111;
	cursor: pointer;
}

.game-list li:hover {
	transform: scale(1.1);
	color:white;
	transition: 0.5s;
}

.section-title {
	color:white;
	font-family: 'Bebas Neue', cursive;
	font-size:30px;
}

.game-wallpaper {
	position: absolute;
	background-position: center;
	max-height: 100%;
	transform: translateX(-25%);
}

.game-info {
	position: absolute;
	font-family: 'Roboto', cursive;
	bottom: 0;
	background-color:#2C2B2B;
	width:100%;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1.5vh;
	padding:1vh;
}

.game-name {
	white-space: nowrap;
	font-size: 24px;
	min-width: 0;
	color:white;
}


.supported-platforms li{
	display: inline-block;
	font-size: 15px;
	margin:3px;
	border: none;
}

.game-info > p {
	position: relative;
	width:100%;
	display: flex;
	flex-direction: row;
	text-align: center;

}

.game-discount {
	flex-grow: 0;
	background: linear-gradient(90deg, #DC2F02 0%, #FF6339 100%);
	border-radius: 2px 0px 0px 2px;
	color:white;
	padding:0.25vh;
	padding: 6px 8px;
}

.game-price {
	flex:1;
	background: #111111;
	border-radius: 0px;
	padding: 6px 8px;
	color:white;
}

.game-add-button {
	flex-grow: 0;
	background: #FFFFFF;
	border-radius: 0px 2px 2px 0px;
	color:black;
	padding: 6px 8px;
	font-size: 15px;
}

.jogos-header {
	display: grid;
	grid-template-columns: 1fr 0.10fr;
}

#jogos-secao{
	position: relative;
	padding:5vh;
	box-sizing: border-box;
}


.game-info-title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 20pt;
	color:#FFFFFF;
}

.game-info-box {
	background-color: #111111;
	padding:3vh;
	margin-top: 3vh;
}

.game-info-box > table {
	color:#DEDDDC;
	font-family: 'Roboto';
}
.game-info-box th {
	margin:2vh;
}



.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111111;
	text-align: center;
	z-index: 99;
	display: none;
}

.mobile_menu img {
	margin-left: auto;
	margin-right: auto;	
}

#menu_activate {
	position: fixed;
	left:0;
	top:0;
	color:#FFFFFF;
	margin:5vh;
	margin-left: 3vh;
	font-size: 30pt;
	z-index: 10;
	display: none;
}

@media (max-width: 1200px) {
  

	#menu {
		position: fixed;
		width:100%;
		height: 100%;
		background-color: #111111;
		text-align: center;
		display: none;
		overflow: hidden;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 1fr;
		z-index: 9;
	}

	.mobile-menu {
		display: block;
	}

	#menu_activate {
		display: block;
		z-index: 100;
	}

	#menu > img {
		padding:0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}


	#navigator {
		display: grid;
	}

	#navigator > li {
		display: block;
		margin-bottom: 5vh;
	}


	#icon_list > li {
		display: inline-block;
		margin:1vh;
	}

	#jogos-secao {
		text-align: center;
	}

	.game-list > li {
		width: 90%;

	}

	.game-wallpaper {
		transform:translateX(-50%);
	}

	.jogos-header {
		display: flex;
		flex-direction: row;
	}


	.see-more {
		flex:1;
		margin-left:8vh;
		font-size: 16pt;
		padding:1vh;
	}

	.section-title {
		flex:1;
		font-size: 18pt;
		margin:0;
	}

	.rd2-theme > .section-title {
		font-size: 64px;
	}

	.rd2-theme > .game-list > li{
		margin-left:0;
	}


	footer {
		position: relative;
		background-color:#111111;
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		padding:2vw;
		box-sizing: border-box;
		color:white;
		font-family:'Roboto', sans-serif;
		width: 100%;
	}

	footer a {
		text-decoration: none;
		color:white;
	}

	footer ul li {
		margin-bottom:2vh;
		margin-left: 0;
	}

	.flex-display {
		list-style: none;
		display: inline-block;
		margin:2vh;
		font-size: 20px;
	}

	.flex-display li {
		display: inline-block;
	}



	#game-information {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		grid-gap: 10vw;
		padding:1vh;
	}

	.game-confirmation-rect {
		height: auto;
		max-height: none;
		display: flex;
	}

	.game-confirmation-rect > p {
			height: 80%;
			margin:2vh;
	}

	.game-confirmation-name {
		font-size: 16pt;
	}

	.game-price-gray {
		font-size: 16pt;
		flex: 1;
	}

	.game-discount {
		font-size: 16pt;
	}

	#game-btn {
		font-size: 14pt;
		flex:1;

	}

	.news-desc {
		font-size: 16pt;
	}

	.news-info-container {
		grid-template-columns: 1fr;
		grid-gap: 20vh;
	}

	.news {
		width: 100%;
		max-width: none;
		max-height: none;
	}

	.news-subtitle {
		height: 40%;
	}

	.game-desc {
		text-align: left;
	}

	.platforms li {
		display: inline-block;
	}

	.platforms {
		max-width: none;
	}


}

.info-prod-breadcrumb {
	font-family: 'Bebas Neue', 'Robot', sans-serif;
	font-size: 30pt;
	color: #FFFFFF;
}